* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    background: linear-gradient(120deg, #275a34, #27b989);
    color: white;
    min-height: 100vh;
    letter-spacing: 0.15rem;
}

header {
    font-size: 1rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

form button {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

form input,
form button {
    padding: 0.25rem;
    font-size: 1.1rem;
    border: none;
    background: white;
}

form button {
    color: #275a34;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #275a34;
    color: white;
}

.newItemClass {
    margin: 0 auto;
    border-bottom: solid 1px rgb(255, 255, 255);
    width: 30%;
    padding: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    justify-content: space-between;
    display: grid;
    grid-gap: 0.35rem;
    grid-template-columns: 1fr auto auto;
    animation: itemOpacity;
    animation-duration: 1s;
}

.itemDone {
    text-decoration: rgb(150, 11, 11) line-through;
    transition: all 0.5s ease-in-out;
}

.itemDoneBtn {
    display: inline;
    background-color: rgb(50, 182, 38);
    border: none;
    width: 1.5rem;
    font-size: 0.9rem;
    padding: 0.2rem;
    border-radius: 0.25rem;
    color: white;
}

.itemDoneBtn:hover {
    background-color: rgb(63, 218, 49);
    cursor: pointer;
    transform: scale(1.05);
}

/* DELETE btN */
.deleteOne {
    display: inline;
    background-color: rgb(112, 26, 26);
    border: none;
    width: 1.5rem;
    font-size: 0.9rem;
    padding: 0.2rem;
    border-radius: 0.25rem;
    color: white;
    transition: ease-in-out;
    animation: itemTrash;
    animation-duration: 1s;
}

.deleteOne:hover {
    background-color: rgb(156, 35, 35);
    cursor: pointer;
    transform: scale(1.05);
}

@keyframes itemOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes itemTrash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
